version: 2.0

jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/suviano/A-Kong-Gateway
    steps:
      - checkout
      - run:
          command: |
            go get -v -t -d ./...
            go test -v ./...
            sh -c "CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -a --installsuffix cgo --ldflags=\"-s\" -o /tmp/autoconfig"
      - store_artifacts:
          path: /tmp
  
  deploy:
    machine:
        enabled: true
    working_directory: /tmp
    steps:
      - checkout
      - setup_remote_docker

      - run:
          command: |
            docker login --username $DOCKER_USER --password $DOCKER_PASS
            docker build -t trocase/kongautoconfig:$CIRCLE_BRANCH .
            docker push trocase/kongautoconfig:$CIRCLE_BRANCH

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
